html {
  height: 100%;
}
body {
  min-height: 100%;
}

.color-background {
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2c3e50 , #3498db); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2c3e50 , #3498db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
}

header {
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  padding: 20px;
}

.contact-info {
  text-align: center;
}

.contact-info h3 {
  padding: 5px;
  font-size: 17px;
}

.contact-info > h3 > span {
  color: black;
  font-weight: bold;
  padding-right: 5px;
}

section {
  padding: 20px;
}

section h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.about-content {
  padding: 30px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.profile-img {
  height: 300px;
  width: 300px;
  margin-right: 50px;
  float: left;

}

.profile-img > img{
  object-fit: cover;
  border-radius: 50%;
}

.about-text {
  width: 80%;
}

.about-text p {
  margin: 5px 0;
  line-height: 1.5;
}

.about-text a {
  text-decoration: underline;
  color: blue;
}
