html {
  height: 100%;
}
body {
  min-height: 100%;
}

header {
  background: teal;
  color: white;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  padding: 20px;
}

.contact-info {
  text-align: center;
}

.contact-info h3 {
  padding: 5px;
  font-size: 20px;
}

.contact-info > h3 > span {
  color: black;
  font-weight: bold;
}

section {
  border-bottom: 1px solid green;
  padding: 20px;
}

section h2 {
  text-align: center;
  font-size: 30px;
}
